<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
   
</head>
<body>
    <h1>Welcome to Profile</h1>
    <p>
         <%= name %>
        <br>
        Your appointment is at:
       
        <br>
        LocationL <%= profile.location %>
        <br>
        Time: <%= profile.time %> 

    </p>
</body>
</html>